---
layout:   page
---

<header class="page-header">
  <div class="inner-wrapper">
    <h1>
      <a href="#">GopherChina 2017</a>
    </h1>
    <nav>
      <a href="#" class="header-menu-toggle"></a>
      <ul class="header-menu">
        <li>
          <a href="#schedule">会议日程</a>
        </li>
        <li>
          <a href="#location">会议地址</a>
        </li>
        <li class="header-menu-tickets">
          <a href="#tickets">注册报名</a>
        </li>
        <li>
          <a href="#sponsors">赞助商</a>
        </li>
        <li>
          <a href="#history">往届大会</a>
        </li>
        <li>
          <a href="/en/">English</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="hero-section hero-section-cn">
  <div class="inner-wrapper">
    <div class="hero-section-content">
      <div class="hero-section-content-text">
        <h2>第三届 GopherChina 大会</h2>
        <p>上海 04-15 ~ 04-16</p>
      </div>
      <div class="hero-section-button">
        <a href="#tickets">注册报名</a>
      </div>
    </div>
  </div>
</section>

<section id="schedule" class="schedule-section">
  <div class="inner-wrapper">
    <div class="schedule-section-content">
      <div class="schedule-section-content-text">
        <h2>会议日程</h2>
      </div>
      <div class="schedule-content-wrapper">
        <div class="schedule-content">
          <h3 class="schedule-content-title">
            <span>04-15</span>
          </h3>
          <div class="schedule-item">
            <p class="schedule-item-time">08:25 - 08:50</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-text">入场报到</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">08:50 - 09:00</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-text">大会介绍</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">09:00 - 09:10</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-text">主办方致辞</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">09:10 - 10:00</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go 在大数据开发中的实战经验</p>
              <p class="schedule-item-speaker">孙健波</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">10:05 - 10:55</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go in TiDB</p>
              <p class="schedule-item-speaker">申砾</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">11:00 - 11:50</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go coding in Go style</p>
              <p class="schedule-item-speaker">白明</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">13:00 - 13:50</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Understanding Go Interfaces</p>
              <p class="schedule-item-speaker">Francesc Campoy</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">14:00 - 14:50</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">NSQ 重塑之路</p>
              <p class="schedule-item-speaker">李文</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">14:55 - 15:15</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-text">茶歇</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">15:15 - 16:05</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">基于 Go 的微服务架构 (Spring 开发者视角)</p>
              <p class="schedule-item-speaker">聪心</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">16:10 - 17:00</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">用 Go 搭建 Kubernetes Operators</p>
              <p class="schedule-item-speaker">邓洪超</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">17:05 - 17:55</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">哔哩哔哩的 Go 微服务实战</p>
              <p class="schedule-item-speaker">毛剑</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">19:30 - 21:30</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">技术 party 之夜</p>
            </div>
          </div>
        </div>

        <div class="schedule-content">
          <h3 class="schedule-content-title">
            <span>04-16</span>
          </h3>
          <div class="schedule-item">
            <p class="schedule-item-time">09:00 - 09:50</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">纯 Go 打造亿级实时分布式平台</p>
              <p class="schedule-item-speaker">高超</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">09:55 - 10:45</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go 语言在扫码支付系统中的成功实践</p>
              <p class="schedule-item-speaker">张建龙</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">10:50 - 11:40</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go 在百万亿级搜索引擎中的应用</p>
              <p class="schedule-item-speaker">郭军</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">13:00 - 13:50</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">The hidden #pragma's of Go</p>
              <p class="schedule-item-speaker">Dave Cheney</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">13:50 - 14:40</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">跨境电商的 Go 服务治理实践</p>
              <p class="schedule-item-speaker">陈冶</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">14:40 - 14:55</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-text">茶歇</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">14:55 - 15:45</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">使用 Golang 语言实现 DevOps Orchestration</p>
              <p class="schedule-item-speaker">马全一</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">15:45 - 16:35</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Harbor 开源项目中容器镜像远程复制的实现</p>
              <p class="schedule-item-speaker">张海宁</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">16:35 - 17:25</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go 在证券行情系统中的应用</p>
              <p class="schedule-item-speaker">刘楠</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">17:25 - 18:15</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go 语言在证券期货行情系统中的实践</p>
              <p class="schedule-item-speaker">张泽武</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="location" class="location-section location-section-cn">
  <div class="inner-wrapper">
    <div class="location-section-content">
      <div class="location-section-content-text">
        <h2>会议地址</h2>
        <p>小南国花园酒店</p>
        <p>上海杨浦区佳木斯路 777 号</p>
      </div>
      <div class="location-section-button">
        <a target="_blank" href="http://ditu.amap.com/search?query=%E4%B8%8A%E6%B5%B7%E6%9D%A8%E6%B5%A6%E5%8C%BA%E5%B0%8F%E5%8D%97%E5%9B%BD%E8%8A%B1%E5%9B%AD%E9%85%92%E5%BA%97&city=310000&geoobj=121.526614%7C31.228958%7C121.539586%7C31.241242">查看地图</a>
      </div>
    </div>
  </div>
</section>

<section id="tickets" class="tickets-section">
  <div class="inner-wrapper">
    <div class="tickets-section-content">
      <h2>注册报名</h2>
      <a target="_blank" class="tickets-item tickets-normal tickets-early-bird-ended">
        <span class="ticket-label"><del>双日套票 早鸟票</del></span>
        <span class="ticket-price"><del>￥256</del></span>
      </a>
      <a target="_blank" class="tickets-item tickets-item-active" href="http://www.bagevent.com/event/357764#website_moduleId_33514">
        <span class="ticket-label">双日套票</span>
        <span class="ticket-price">￥512</span>
      </a>
      <a target="_blank" class="tickets-item tickets-normal" href="http://www.bagevent.com/event/357764#website_moduleId_33514">
        <span class="ticket-label">双日套票（带发票）</span>
        <span class="ticket-price">￥1024</span>
      </a>
    </div>
  </div>
</section>

<section id="sponsors" class="sponsors-section">
  <div class="inner-wrapper">
    <div class="sponsors-content">
      <div class="sponsors-group-wrapper">
        <p class="sponsors-group-level sponsors-coorganizer">联合主办方</p>
        <ul class="sponsors-group">
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-qiniu" href="https://www.qiniu.com/" target="_blank">七牛</a>
          </li>
        </ul>
      </div>
      <div class="sponsors-group-wrapper">
        <p class="sponsors-group-level">钻石赞助商</p>
        <ul class="sponsors-group">
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-grabtaxi" href="https://www.grab.com" target="_blank">grabtaxi</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-huawei" href="http://www.huawei.com/cn/" target="_blank">华为</a>
          </li>
        </ul>
      </div>
      <div class="sponsors-group-wrapper">
        <p class="sponsors-group-level">白金赞助商</p>
        <ul class="sponsors-group">
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-ezbuy" href="https://ezbuy.com/" target="_blank">ezbuy</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-elastic" href="https://www.elastic.co/" target="_blank">elastic</a>
          </li>
        </ul>
      </div>
      <div class="sponsors-group-wrapper">
        <p class="sponsors-group-level">金牌赞助商</p>
        <ul class="sponsors-group">
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-xd" href="http://www.xd.com/" target="_blank">心动游戏</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-pingcap" href="http://www.pingcap.com/" target="_blank">PingCAP</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-appcoach" href="http://www.appcoachs.com/" target="_blank">appcouch</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-ucloud" href="https://www.ucloud.cn/" target="_blank">UCloud</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-vmware" href="http://www.vmware.com/cn.html" target="_blank">VMware</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-meican" href="https://www.meican.com/" target="_blank">美餐</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-xunlian" href="http://www.cardinfolink.com/" target="_blank">讯联数据</a>
          </li>
        </ul>
      </div>
      <div class="sponsors-group-wrapper">
        <p class="sponsors-group-level">银牌赞助商</p>
        <ul class="sponsors-group">
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-dgraph" href="https://dgraph.io/" target="_blank">dgraph</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-google" href="https://www.google.com/" target="_blank">Google</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-minio" href="https://www.minio.io/" target="_blank">minio</a>
          </li>
        </ul>
      </div>
      <div class="sponsors-group-wrapper">
        <p class="sponsors-group-level">独家视频直播</p>
        <ul class="sponsors-group">
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-stuq" href="http://www.stuq.org/" target="_blank">斯达克学院</a>
          </li>
        </ul>
      </div>
      <div class="sponsors-group-wrapper">
        <p class="sponsors-group-level">合作媒体</p>
        <ul class="sponsors-group">
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-broadview" href="http://www.broadview.com.cn/" target="_blank">博文视点</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-turing" href="http://www.ituring.com.cn/" target="_blank">图灵教育</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-yibu" href="http://www.epubit.com.cn/" target="_blank">异步社区</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-segmentfault" href="https://segmentfault.com/" target="_blank">segmentfault</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-osc" href="http://www.oschina.net/" target="_blank">开源中国</a>
          </li>
          <li class="sponsors-group-item">
            <a class="sponsors-item sponsors-juejin" href="https://juejin.im/" target="_blank">掘金</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="page-footer">
  <div class="inner-wrapper">
    <p>© <span class="page-footer-year">2017</span> GopherChina 组委会.</p>
  </div>
</section>

<section id="history" class="history-section history-section-2015">
  <div class="inner-wrapper">
    <p class="history-item">
      <a href="http://2015.gopherchina.org">GopherChina 2015</a>
    </p>
  </div>
</section>


<section class="history-section history-section-2016">
  <div class="inner-wrapper">
    <p class="history-item">
      <a href="http://2016.gopherchina.org">GopherChina 2016</a>
    </p>
  </div>
</section>
