---
layout:   page
---

<header class="page-header">
  <div class="inner-wrapper">
    <h1>
      <a href="#">GopherChina 2017</a>
    </h1>
    <nav>
      <a href="#" class="header-menu-toggle"></a>
      <ul class="header-menu">
        <li>
          <a href="#schedule">Schedule</a>
        </li>
        <li>
          <a href="#location">Location</a>
        </li>
        <li>
          <a href="#tickets">Tickets</a>
        </li>
        <li>
          <a href="#history">History</a>
        </li>
        <li>
          <a href="/">中文</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="hero-section">
  <div class="inner-wrapper">
    <div class="hero-section-content">
      <div class="hero-section-content-text">
        <h2>The 3rd GopherChina Conf</h2>
        <p>April 15 - 16 @ Shanghai</p>
      </div>
      <div class="hero-section-button">
        <a href="#tickets">Get me a ticket</a>
      </div>
    </div>
  </div>
</section>

<section id="schedule" class="schedule-section">
  <div class="inner-wrapper">
    <div class="schedule-section-content">
      <div class="schedule-section-content-text">
        <h2>会议日程</h2>
      </div>
      <div class="schedule-content-wrapper">
        <div class="schedule-content">
          <h3 class="schedule-content-title">
            <span>04-15</span>
          </h3>
          <div class="schedule-item">
            <p class="schedule-item-time">08:25 - 08:50</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-text">Sign In</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">08:50 - 09:00</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-text">Introduction</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">09:00 - 09:10</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-text">Organzier speech</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">09:10 - 10:00</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go 在大数据开发中的实战经验</p>
              <p class="schedule-item-speaker">孙健波</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">10:05 - 10:55</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go in TiDB</p>
              <p class="schedule-item-speaker">申砾</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">11:00 - 11:50</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go coding in Go style</p>
              <p class="schedule-item-speaker">白明</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">13:00 - 14:00</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Understanding Go Interfaces</p>
              <p class="schedule-item-speaker">Francesc Campoy</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">13:00 - 14:00</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">NSQ 重塑之路</p>
              <p class="schedule-item-speaker">李文</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">14:55 - 15:15</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-text">Coffee Break</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">15:15 - 16:05</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">基于 Go 的微服务架构 (Spring 开发者视角)</p>
              <p class="schedule-item-speaker">聪心</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">16:10 - 17:00</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">用 Go 搭建 Kubernetes Operators</p>
              <p class="schedule-item-speaker">邓洪超</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">16:05 - 17:55</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">哔哩哔哩的 Go 微服务实战</p>
              <p class="schedule-item-speaker">毛剑</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">19:30 - 21:30</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Party</p>
            </div>
          </div>
        </div>

        <div class="schedule-content">
          <h3 class="schedule-content-title">
            <span>04-16</span>
          </h3>
          <div class="schedule-item">
            <p class="schedule-item-time">09:00 - 09:50</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">纯 Go 打造亿级实时分布式平台</p>
              <p class="schedule-item-speaker">高超</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">09:55 - 10:45</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go 语言在扫码支付系统中的成功实践</p>
              <p class="schedule-item-speaker">张建龙</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">10:50 - 11:40</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go 在百万亿级搜索引擎中的应用</p>
              <p class="schedule-item-speaker">郭军</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">13:00 - 13:50</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">The hidden #pragma's of Go</p>
              <p class="schedule-item-speaker">Dave Cheney</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">13:50 - 14:40</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">跨境电商的 Go 服务治理实践</p>
              <p class="schedule-item-speaker">陈冶</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">14:40 - 14:55</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-text">Coffee Break</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">14:55 - 15:45</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">使用 Golang 语言实现 DevOps Orchestration</p>
              <p class="schedule-item-speaker">马全一</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">15:45 - 16:35</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Harbor 开源项目中容器镜像远程复制的实现</p>
              <p class="schedule-item-speaker">张海宁</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">16:35 - 17:25</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go 在证券行情系统中的应用</p>
              <p class="schedule-item-speaker">刘楠</p>
            </div>
          </div>
          <div class="schedule-item">
            <p class="schedule-item-time">17:25 - 18:15</p>
            <div class="schedule-item-detail">
              <p class="schedule-item-topic">Go 语言在证券期货行情系统中的实践</p>
              <p class="schedule-item-speaker">张泽武</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="location" class="location-section">
  <div class="inner-wrapper">
    <div class="location-section-content">
      <div class="location-section-content-text">
        <h2>Location</h2>
        <p>WH Ming Hotel</p>
        <p>No.777 Jiamusi Road, Yangpu, Shanghai.</p>
      </div>
      <div class="location-section-button">
        <a target="_blank" href="https://www.google.com/maps/place/WH+Ming+Hotel,+Yangpu+Qu,+Shanghai+Shi,+China,+200093/@31.2960733,121.5118942,13.68z/data=!4m13!1m7!3m6!1s0x35b273f695ab6055:0x631c3768bce57db1!2sWH+Ming+Hotel,+Yangpu+Qu,+Shanghai+Shi,+China,+200093!3b1!8m2!3d31.2921519!4d121.5328522!3m4!1s0x35b273f695ab6055:0x631c3768bce57db1!8m2!3d31.2921519!4d121.5328522">View Map</a>
      </div>
    </div>
  </div>
</section>

<section id="tickets" class="tickets-section">
  <div class="inner-wrapper">
    <div class="tickets-section-content">
      <h2>Tickets</h2>
      <a target="_blank" class="tickets-item tickets-early-bird" href="http://www.bagevent.com/event/357764#website_moduleId_33514">
        <span class="ticket-label">Early Birds</span>
        <span class="ticket-price">RMB 256</span>
      </a>
      <a target="_blank" class="tickets-item tickets-normal" href="http://www.bagevent.com/event/357764#website_moduleId_33514">
        <span class="ticket-label">Normal</span>
        <span class="ticket-price">RMB 512</span>
      </a>
      <a target="_blank" class="tickets-item tickets-normal" href="http://www.bagevent.com/event/357764#website_moduleId_33514">
        <span class="ticket-label">Normal (Invoice)</span>
        <span class="ticket-price">RMB 1024</span>
      </a>
    </div>
  </div>
</section>


<section id="history" class="history-section">
  <div class="inner-wrapper">
    <div class="history-section-content">
      <h2>History</h2>
      <a class="history-item" href="http://2016.gopherchina.org">GopherChina 2016</a>
      <a class="history-item" href="http://2015.gopherchina.org">GopherChina 2015</a>
    </div>
  </div>
</section>

<footer class="page-footer">
  <div class="inner-wrapper">
    <p>© <span class="page-footer-year">2017</span> GopherChina Committee.</p>
  </div>
</footer>