---
layout:   page
---

<header class="page-header">
  <div class="inner-wrapper">
    <h1>
      <a href="{{ "/" | relative_url }}">GopherChina 2017</a>
    </h1>
    <nav>
      <a href="#" class="header-menu-toggle"></a>
      <ul class="header-menu">
        <li>
          <a href="#schedule">会议日程</a>
        </li>
        <li>
          <a href="#location">会议地址</a>
        </li>
        <li>
          <a href="#history">往届大会</a>
        </li>
        <li>
          <a href="/">English</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="hero-section hero-section-cn">
  <div class="inner-wrapper">
    <div class="hero-section-content">
      <div class="hero-section-content-text">
        <h2>第三届 Gopher China 大会</h2>
        <p>中国 上海 2017-04-14 ~ 2017-04-15</p>
      </div>
      <div class="hero-section-button">
        <a href="#tickets">注册报名</a>
      </div>
    </div>
  </div>
</section>

<section id="schedule" class="schedule-section">
  <div class="inner-wrapper">
    <div class="schedule-section-content">
      <div class="schedule-section-content-text">
        <h2>会议日程</h2>
      </div>
      <div class="schedule-section-placeholder">
        <p>正在安排，即将开放。</p>
      </div>
    </div>
  </div>
</section>

<section id="location" class="location-section location-section-cn">
  <div class="inner-wrapper">
    <div class="location-section-content">
      <div class="location-section-content-text">
        <h2>会议地址</h2>
        <p>小南国花园酒店</p>
        <p>上海杨浦区佳木斯路 777 号</p>
      </div>
      <div class="location-section-button">
        <a target="_blank" href="http://ditu.amap.com/search?query=%E4%B8%8A%E6%B5%B7%E6%9D%A8%E6%B5%A6%E5%8C%BA%E5%B0%8F%E5%8D%97%E5%9B%BD%E8%8A%B1%E5%9B%AD%E9%85%92%E5%BA%97&city=310000&geoobj=121.526614%7C31.228958%7C121.539586%7C31.241242">查看地图</a>
      </div>
    </div>
  </div>
</section>

<section id="tickets" class="tickets-section">
  <div class="inner-wrapper">
    <div class="tickets-section-content">
      <h2>注册报名</h2>
      <a target="_blank" class="tickets-item tickets-early-bird" href="http://www.bagevent.com/event/357764#website_moduleId_33514">
        <span class="ticket-label">双日套票 早鸟票</span>
        <span class="ticket-price">￥256</span>
      </a>
      <a target="_blank" class="tickets-item tickets-normal" href="http://www.bagevent.com/event/357764#website_moduleId_33514">
        <span class="ticket-label">双日套票</span>
        <span class="ticket-price">￥512</span>
      </a>
      <a target="_blank" class="tickets-item tickets-normal" href="http://www.bagevent.com/event/357764#website_moduleId_33514">
        <span class="ticket-label">双日套票（带发票）</span>
        <span class="ticket-price">￥1024</span>
      </a>
    </div>
  </div>
</section>


<section id="history" class="history-section">
  <div class="inner-wrapper">
    <div class="history-section-content">
      <h2>往届大会</h2>
      <a class="history-item" href="http://2016.gopherchina.org">GopherChina 2016</a>
      <a class="history-item" href="http://2015.gopherchina.org">GopherChina 2015</a>
    </div>
  </div>
</section>

<footer class="page-footer">
  <div class="inner-wrapper">
    <p>@ <span class="page-footer-year">2017</span> GopherChina 组委会.</p>
  </div>
</footer>