.get {
      background: #1E5B94;
      color: #fff;
      text-align: center;
      padding: 50px 0;
    }

    .get-title {
      font-size: 200%;
    }

    .get-btn {
      background: #fff;
    }
    .center{ text-align: center;}
    .detail {
      background: #fff;
    }

    .detail-h2 {
      text-align: center;
      font-size: 150%;
      margin: 40px 0;
    }

    .detail-h3 {
      color: #1f8dd6;
    }

    .detail-p {
      color: #7f8c8d;
    }
  .detail-span {
      color: #7f8c8d;
    }
    .detail-mb {
      margin-bottom: 30px;
    }
.detail-mt {
      margin-top: 10px;
    }
    .hope {
      background: #0bb59b;
      padding: 50px 0;
    }

    .hope-img {
      text-align: center;
    }

    .hope-hr {
      border-color: #149C88;
    }

    .hope-title {
      font-size: 140%;
    }

    .about {
      background: #fff;
      padding: 40px 0;
      color: #7f8c8d;
    }

    .about-color {
      color: #34495e;
    }

    .about-title {
      font-size: 180%;
      padding: 30px 0 50px 0;
      text-align: center;
    }
.partner{
  padding:0 0 0 25px;
  /*border-right: 1px solid #E0E0E0;*/
}
.partner img {
  width: 125px;
  height: auto;
  margin: 10px 50px 0px 0px;
}

    .footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
    }