<script type="text/javascript">
  (function () {
    // Expand or collapse header menu for narrow screens, mostly mobile devices.
    var elMenu = document.querySelector(".header-menu");
    var menuLinks = document.querySelectorAll(".header-menu a");
    var elToggle = document.querySelector(".header-menu-toggle");
    var isTouchScreen = ("ontouchstart" in window);

    var headerMenuToggleHandler = function (e) {
      e.preventDefault();
      e.stopPropagation();
      var isExpanded = (elMenu.className === "header-menu header-menu-expanded");
      elMenu.className = isExpanded ? "header-menu" : "header-menu header-menu-expanded";
      elToggle.className = isExpanded ? "header-menu-toggle" : "header-menu-toggle header-menu-toggle-activated";
      document.body.className = isExpanded ? "" : "header-menu-expanded";
    };

    if (isTouchScreen) {
      elToggle.addEventListener("touchstart", headerMenuToggleHandler);
    } else {
      elToggle.addEventListener("click", headerMenuToggleHandler);
    }

    var headerMenuLinkHandler = function (hash) {
      return function (e) {
        e.stopPropagation();
        elMenu.className = "header-menu";
        elToggle.className = "header-menu-toggle";
        document.body.className = "";
        location.hash = hash;
      };
    };

    for (var i = 0, len = menuLinks.length; i < len; i++) {
      menuLinks[i].addEventListener("click", headerMenuLinkHandler(menuLinks[i].href));
    }

    // Display or hide page header according to scrolling position
    var elHeader = document.querySelector(".page-header");
    var applicationScrollHandler = function (e) {
      var scrollTop = document.body.scrollTop;

      if (scrollTop <= 64) {
        elHeader.className = "page-header";
      } else if (scrollTop <= window.innerHeight * 0.618) {
        elHeader.className = "page-header page-header-hidden";
      } else {
        elHeader.className = "page-header page-header-sticky";
      }
    };

    window.addEventListener("scroll", applicationScrollHandler);
  })();
</script>