 <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="site-info">© 2016 <a href="http://www.gopherchina.org" target="_blank">Gopher China组委会</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- script -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/cookie.js"></script>
    <script type="text/javascript">
        $(document).on('click', '.lang-changed', function(){
            var lang = $(this).data("lang");
            $.cookie('lang', lang, { expires: 365, path: '/' });
            window.location.reload();
        });
    </script>
</body>
</html>