@font-face {
  font-family: "Source Han Sans SC";
  src: url("/assets/fonts/SourceHanSansSC-Light.ttf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Source Han Sans SC";
  src: url("/assets/fonts/SourceHanSansSC-Normal.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Source Han Sans SC";
  src: url("/assets/fonts/SourceHanSansSC-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Source Han Sans SC";
  src: url("/assets/fonts/SourceHanSansSC-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Bw Glenn Sans";
  src: url("http://ok8n5dtco.bkt.clouddn.com/Branding%20with%20Type%20-%20Bw%20Glenn%20Sans%20Light.ttf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Bw Glenn Sans";
  src: url("http://ok8n5dtco.bkt.clouddn.com/Branding%20with%20Type%20-%20Bw%20Glenn%20Sans%20Thin.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Bw Glenn Sans";
  src: url("http://ok8n5dtco.bkt.clouddn.com/Branding%20with%20Type%20-%20Bw%20Glenn%20Sans%20Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Bw Glenn Sans";
  src: url("http://ok8n5dtco.bkt.clouddn.com/Branding%20with%20Type%20-%20Bw%20Glenn%20Sans%20Medium.ttf");
  font-style: normal;
  font-weight: 500;
}



